ansi2html
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
bokeh
certifi
cffi
charset-normalizer
click
colorcet
comm
contourpy
cycler
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
et-xmlfile
executing
fastjsonschema
Flask
fonttools
fqdn
gunicorn

holoviews
hvplot
idna
importlib-metadata
install
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver
lab
linkify-it-py
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
openpyxl
overrides
packaging
pandas
pandocfilters
panel
param
parso
patsy
pexpect
pickleshare
Pillow
platformdirs
plotly
plotly-express
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
pyct
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
pyviz_comms
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
retrying
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn
scipy
seaborn
Send2Trash
simplejson
six
sniffio
soupsieve
stack-data
statsmodels
tenacity
terminado
threadpoolctl
tinycss2
tornado
tqdm
traitlets
txt2tags
types-python-dateutil
typing_extensions
tzdata
uc-micro-py
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
xyzservices==2023.10.0
zipp==3.17.0
